:root {
    --bg-color: rgb(26, 28, 29); 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin:0;
    font-size: 18px;
    color: var(--bg-color);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 12px;
	background-color: var(--bg-color);
    color: white;
}

.header h1 {
    font-size: 24px;
}

.main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 48px 32px;
}

.main img {
    object-fit: cover;
    max-width: 350px;
    width: auto;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    gap: 8px;
}

.content h1 {
    margin:0;
    font-size: 48px;
    font-weight: bolder;
}

.content button {
    margin-right: auto;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a.baroodlink {
    color: #0026ff;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    padding-bottom: 128px;
}

.card {
    font-size: 16px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display:flex;
    flex-direction: column;
    background-color: #eee;
    color: var(--bg-color);
    align-items: center;
    padding: 128px 20%;
    gap: 8px;
}

.quoter {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin-left: auto;
}

.signup {
    color:white;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 128px 10%;
    padding: 64px 24px;
    gap: 12px;
    flex-wrap: wrap;

}

.signup button {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
	background-color: var(--bg-color);
    color:white;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid var(--bg-color)
}

button {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--bg-color);
    color: white;
    cursor: pointer;
    padding: 8px 18px;
    border: 1px solid var(--bg-color);
    border-radius: 8px;
}

.title {
    font-size: 36px;
    text-align: center;
    padding: 32px; 
}
